/* Делаю пока все во одном файле, позже по необходимости могу разделить на общий и постраничные файлы css */

/* текст цвет основной #757575 */
/* текст цвет заголовков #212121 */
/* текст цвет акцент #2196F3 */
/* текст цвет белый #FFFFFF*/
/* фон основной белый #FFFFFF */
/* фон серый  #F5F4FA */
/* фон акцент #2196F3 */
/* фон секции шапка, подвал #2F303A */
/* цвета логотипа #000000  #2196F3 #FFFFFF */

/* Шрифты: все normal
/* Roboto 400, 500, 700, 900  */
/* Raleway 700 */
/* letter-spacing: 0.03em общий текст*/
/* letter-spacing: 0.02em навигация  */
/* letter-spacing: 0.06em секция шапки */
:root {
  --text-main: #757575;
  --text-header: #212121;
  --text-accent: #2196f3;
  --text-white: #ffffff;
  --text-adress: rgba(255, 255, 255, 0.6);
  --bgd-primary: #ffffff;
  --bgd-second: #f5f4fa;
  --bgd-accent: #2196f3;
  --bgd-header-footer: #2f303a;
}
/* Пока отдельно указала белый цвет  для фона и для текста */
/* Разные переменные, если нужно будет поменять переменную цвета текста, не затронет цвет фона и наоборот */

/* Общие параметры на страницах index.html, protfolio.html */
.studio,
.portfolio {
  color: var(--text-main);
  /* background-color: var(--text-white); */

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Параметры логотипа */
.logo {
  color: var(--text-header);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

/* Форматируем логотип */
.logo-part-one {
  color: var(--text-accent);
}

.logo-part-two {
  color: var(--text-white);
}

/* Общие параметры для всех ссылок класса link навигационного блока, этот класс для других ссылок использоваться не будет */
.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

/* Параметры ссылок навигации по сайту */
.studio-nav .link {
  color: var(--text-header);
}

/* Параметры ссылок для обратной связи */
.studio-contacts .link {
  color: var(--text-main);
}

/*  hover и focus для ссылок навигации по сайту*/
.link.current,
.link:hover,
.link:focus {
  color: var(--text-accent);
}

/* Убираем символы списка, марджины и паддинги списков

*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Параметры фона секций шапка и подвал */
.primary,
.footer {
  background: var(--bgd-header-footer);
}

.studio-nav,
.studio-contacts,
.features,
.activity,
.team-list,
.portfolio-box {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
}

.team,
.footer {
  width: 1600px;
  margin: 0px;
}
.primary {
  width: 1600px;
  height: 600px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* Параметры заголовка h1 на странице Studio */
.primary-title {
  color: var(--text-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

/* Параметры кнопки */
.primary-button {
  color: var(--text-white);
  background-color: var(--bgd-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}

/* Параметры заголовков h2 страницы index.html*/
.section-title {
  color: var(--text-header);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;

  margin: 0px;
}

/* Параметры заголовков h3 страницы index.html */
.features-item {
  color: var(--text-header);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px;
}
/* Параметры параграфов секции features */
.features.list {
  line-height: 1.71;
}

.features p {
  margin: 0px;
}

.team {
  background-color: var(--bgd-second);
}
/*Параметры заголовка под фото членов команды  */
.team-caption {
  color: var(--text-header);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
/* Параметры для записи - должности члена команды */
.team-position {
  color: var(--text-main);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team figure,
.team p {
  margin: 0px;
}
/* Параметры для строк адреса */
.adress-mail {
  color: var(--text-white);

  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.adress-email,
.adress-tel {
  color: var(--text-adress);

  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}

.footer p {
  margin: 0px;
}
/* Параметры кнопок фильтра для портфолио*/
.filter-button {
  color: var(--text-header);
  background-color: var(--bgd-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  text-align: center;
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--text-white);
  background-color: var(--bgd-accent);
}

/*  Параметры заголовков работ в портфолио */

.portfolio h1,
.portfolio-item h2,
.portfolio-item p {
  margin: 0px;
}

.portfolio-title {
  color: var(--text-header);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*  Параметры пунктов фильтров для портфолио */
.filter-item {
  color: var(--text-main);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Параметры конопок-фильтров в портфолио  */
.filter-button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
}

/* ...........Для тестирования.................. */

.studio-nav {
  background-color: rgb(124, 182, 76);
}

.studio-contacts {
  background-color: darksalmon;
}

.portfolio-box {
  background-color: rgb(124, 182, 76);
}

.primary {
  background-color: rgb(152, 165, 142);
}
.features {
  background-color: rgb(166, 224, 226);
}
.activity {
  background-color: rgb(78, 76, 182);
}

.team {
  background-color: rgb(124, 182, 76);
}
.team-list {
  background-color: gold;
}
