/* Делаю пока все во одном файле, позже по необходимости могу разделить на общий и постраничные файлы css */

/* текст цвет основной #757575 */
/* текст цвет заголовков #212121 */
/* текст цвет акцент #2196F3 */
/* текст цвет белый #FFFFFF*/
/* фон основной белый #FFFFFF */
/* фон серый  #F5F4FA */
/* фон акцент #2196F3 */
/* фон секции шапка, подвал #2F303A */
/* цвета логотипа #000000  #2196F3 #FFFFFF */

/* Шрифты: все normal
/* Roboto 400, 500, 700, 900  */
/* Raleway 700 */
/* letter-spacing: 0.03em общий текст*/
/* letter-spacing: 0.02em навигация  */
/* letter-spacing: 0.06em секция шапки */
:root {
  --text-main: #757575;
  --text-header: #212121;
  --text-accent: #2196f3;
  --text-white: #ffffff;
  --text-adress: rgba(255, 255, 255, 0.6);
  --bgd-primary: #ffffff;
  --bgd-second: #f5f4fa;
  --bgd-accent: #2196f3;
  --bgd-header-footer: #2f303a;
}
/* Пока отдельно указала белый цвет  для фона и для текста */
/* Разные переменные, если нужно будет поменять переменную цвета текста, не затронет цвет фона и наоборот */

/* Общие параметры на страницах index.html, protfolio.html */
.studio,
.portfolio {
  color: var(--text-main);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Параметры фона секций шапка и подвал */
.primary,
.footer {
  background: var(--bgd-header-footer);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.studio-nav .studio-contacts,
.features p,
.footer p,
.primary-title,
.list,
.portfolio h1,
.portfolio-item h2,
.portfolio-item p {
  margin: 0px;
}

.features,
.activity,
.portfolio-box {
  margin: 94px 0px;
}

.team,
.footer {
  width: 1600px;
}

/* Убираем символы списка, марджины и паддинги списков*/
.list {
  list-style: none;
  padding: 0px;
}

/* Параметры заголовков h2 страницы index.html*/
.section-title {
  color: var(--text-header);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 0px 50px;
}
.link,
.logo,
.primary-button,
.adress-email,
.adress-tel {
  text-decoration: none;
}

.section-title,
.studio-list-item,
.studio-contacts-item,
.features-card,
.features-item,
.activity-card,
.team-card,
.team p,
.portfolio-card,
.filter-button {
  display: inline-block;
}
/* Параметры логотипа */
.logo {
  color: var(--text-header);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Форматируем логотип */
.logo-part-one {
  color: var(--text-accent);
}

.logo-part-two {
  color: var(--text-white);
}

/* Параметры ссылок навигации по сайту */
.studio-list-item .link {
  color: var(--text-header);
}

/* Параметры ссылок для обратной связи */
.studio-contacts-item .link {
  color: var(--text-main);
}
.studio-list-item.link,
.studio-contacts-item.link {
  letter-spacing: 0.02em;
}

/*  hover и focus для ссылок навигации по сайту*/
.link.current,
.link:hover,
.link:focus {
  color: var(--text-accent);
}
.primary {
  width: 1600px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* Параметры заголовка h1 на странице Studio */
.primary-title {
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* Параметры кнопки */
.primary-button {
  color: var(--text-white);
  background-color: var(--bgd-accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Параметры заголовков h3 страницы index.html */
.features-item {
  color: var(--text-header);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px 0px 10px;
}

/* Параметры параграфов секции features */
.features.list,
.features p {
  line-height: 1.71;
}

.features-card {
  width: 270px;
  height: 101px;
}

.activity-card {
  width: 370px;
  height: 294px;
}

.team {
  background-color: var(--bgd-second);
}

.team-card {
  width: 270px;
  height: 368px;
  text-align: center;
}
/*Параметры заголовка под фото членов команды  */
.team-caption {
  color: var(--text-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0px 0px 10px;
}

/* Параметры для записи - должности члена команды */
.team-position {
  color: var(--text-main);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}

.team p {
  margin: 0px 0px 30px;
}
.team-card img {
  margin-bottom: 30px;
}

/* Параметры для строк адреса */
.adress-mail {
  color: var(--text-white);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.adress-email,
.adress-tel {
  color: var(--text-adress);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-logo {
  margin: 0px 0px 20px 0px;
}
/* Параметры кнопок фильтра для портфолио*/
.filter-button {
  color: var(--text-header);
  background-color: var(--bgd-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--text-white);
  background-color: var(--bgd-accent);
}

.portfolio-filter {
  margin-bottom: 34px;
}
/*  Параметры заголовков работ в портфолио */

.portfolio-card {
  width: 370px;
  height: 404px;
  text-align: center;
}

.portfolio-title {
  color: var(--text-header);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*  Параметры пунктов фильтров для портфолио */
.filter-item {
  color: var(--text-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Параметры конопок-фильтров в портфолио  */
.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
}

/* ...........Для тестирования.................. */
